<div class="giftee-form">
<h1><%= @title %></h1>

<%= bootstrap_form_for @giftee, class: "form-group", url:({action: @action}) do |f| %>
<%= f.text_field :name%>
<%= f.text_field :age%>
<%= f.text_field :likes%>
<%= f.text_field :dislikes%>
<%= f.submit class: "submit", class: "btn btn-default" %>
<% end %>

</div>
