
<div class="row">
  <div class="col-sm-12">
    <h1 class="header-box">
      Login
    </h1>
    <%= form_for(:session_data, url: sessions_path) do |f| %>
      <div class="form-group">
        <%= f.label :email %>:
        <%= f.email_field :email, class: "form-control", :required => true %>

        <%= f.label :password %>:
        <%= f.password_field :password, class: "form-control", :required => true %><br>

        <%= f.submit "Login", class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
