<div class="wishlist-form">
<h1><%= @title %></h1>

<%= bootstrap_form_for @wishlist, class: "form-group", url:({action: @action}) do |f| %>
<%= f.text_field :item %>
<%= f.text_field :price %>
<%= f.check_box :bought, label: "Bought?", :class => "bought" %>
<%= f.submit class: "submit", class: "btn btn-default", value:"Edit Item" %>
<% end %>

</div>
