<h1><%= @title %></h1>
<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Bought?</th>
    </tr>
  </thead>
  <tbody>
    <% @wishlists.each do |wishlist| %>
      <tr>
        <td><%= wishlist.item %></td>
        <td>
          <% if wishlist.price != nil %>
            <%= number_to_currency(wishlist.price/100.0) %>
          <% else %>
            -
          <% end %>
          </td>
        <td>
          <% if wishlist.bought == false %>
            No
          <% else %>
            Yes
          <% end %>
        </td>
        <td>
          <%= button_to "Edit", { action: "edit", id: wishlist.id }, method: :get, class: "btn btn-default" %>
        </td>
        <td>
          <%= button_to "Delete?", { action: "destroy", id: wishlist.id }, method: :delete, data: { confirm: "Last chance...you sure?" }, class: "btn btn-default" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Add New Item", new_giftee_wishlist_path, method: :get, class: "btn btn-default" %>
