<h1><%= @title %></h1>

<div class="table-master">
<table class='table table-hover'>
  <tr>
    <td class="table_headers">
      Name
    </td>
    <td>
      <%= @account.name %>
    </td>
  </tr>
  <tr>
    <td class="table_headers">
      Login
    </td>
    <td>
      <%= @account.user_login %>
    </td>
  </tr>
</table>
</div>

<div><%= button_to "Edit", edit_account_path(@account), method: :get, class: "btn btn-default" %></div>
<%= button_to "Delete", "/accounts/#{@account.id}", method: :delete, class: "btn btn-default" %>
